@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

h1 {
  font-family: 'Poppins'
}

.command_head {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

#category {
  border-radius: 10px;
  padding-bottom: 50px;
}

#category a {
  background-color: #36393f;
  color: white;
  transition: 250ms ease-out
}

#category a.active {
  background-color: #b388eb;
  border-color: #b388eb;
}

#category a:hover:not(.active) {
  background-color: #4a4f58;
  border-color: #4a4f58;
}

.accordion-item {
  background-color: #36393f;
  color: rgb(255, 255, 255, .55);
}

.accordion-button {
  color: white;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #6880f7;
}

.accordion-button:hover.collapsed {
  color: white;
  background-color: #4a4f58;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(https://cdn4.iconfinder.com/data/icons/navigation-40/24/add-512.png);
  transform: rotate(-45deg);
}

.accordion-button::after {
  background-image: url(https://cdn4.iconfinder.com/data/icons/navigation-40/24/add-512.png);
  filter: invert(100%)
}

.accordion-button:focus {
  z-index: 0;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.accordion-item:first-of-type {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}


.accordion-item:last-of-type {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  margin-bottom: 30px;
}

#commands_menu {
  font-family: 'Poppins', sans-serif;
}