<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="/img/nighthost.png" width="320" alt="UnitiMusic">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">UnitiMusic</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Musica 24/7</p>
        <br><br>
         <p class="content has-text-white" style="font-black: 800;">Servidores: <%= bot.guilds.cache.size %> | Usuarios: <%= bot.users.cache.size %> | Canales: <%= bot.channels.cache.size %> | Emojis:  <%= bot.emojis.cache.size %></p>
      </div>
    </div>
    <br>
    </center>
</section>