<!DOCTYPE html>
<title>Principal | UnitiMusic</title>
<link href="style.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="UnitiMusic" name="keywords">
<meta content="UnitiMusic Web" name="description">
<%- include('./includes/head.ejs') %>
<%- include('./includes/section.ejs') %>
<%- include('./includes/foot.ejs') %>